:root {
	--hsl-red: 15;
	--hsl-orange: 36;
	--hsl-purple: 260;
	--hsl-yellow: 48;
	--hsl-s-default: 85%;
	--hsl-s-fade: 65%;
	--hsl-l-default: 50%;
	--hsl-l-light: 70%;
	--hsl-l-dark: 35%;
	--hsl-l-black: 10%;
	--hsl-l-white: 90%;
	--hsl-diff: 10%;
	--hsl-diff-ob: 40%;

	--color-bg: hsl(0, 0%, var(--hsl-l-black));
	--color-font: hsl(0, 0%, var(--hsl-l-white));
	--color-tab: hsl(0, 0%, calc(var(--hsl-l-black) + var(--hsl-diff)));

	--low-light: contrast(0.4) brightness(0.7);
}

body,
html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html.lights-on {
	filter: invert(.9) hue-rotate(180deg);
}

body {
	background: var(--color-bg);
	color: var(--color-font);
	font-family: sans-serif;
	font-size: 16px;
	padding: min(50px, 5%);
}

button {
	border: none;
	border-radius: 0.5em;
	cursor: pointer;
	filter: var(--low-light);
	user-select: none;
}
button:hover,
button.active {
	filter: none;
}

div.hide {
	display: none;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	margin-bottom: 0.6em;
}

img.icon {
	filter: invert(1);
}

span {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	width: 100%;
}

a {
	text-decoration: none;
}

#face {
	max-width: 1440px;
	margin: 0 auto;
}

#control {
	display: inline-flex;
	float: right;
}
#control button {
	display: flexbox;
	padding: 7px;
	width: 36px;
	height: 36px;
	border-radius: 18px;
}
#control img.icon {
	width: 100%;
	filter: invert(0);
}
#weekly .dashboard {
	font-size: 13px;
}

#weekly .dashboard th,
#weekly .dashboard td {
	border-bottom: solid 8px var(--color-tab);
	height: 30px;
	padding: 0 8px;
	text-align: left;
	white-space: nowrap;
}

#weekly .dashboard th {
	background: var(--color-bg);
}

#weekly .dashboard td {
	background: hsl(0, 0%, calc(var(--hsl-l-black) + var(--hsl-diff) * 2));
}

#weekly .dashboard td.time {
	padding: 0 1px;
	border-left: dashed 1px var(--color-tab);
	font-family: monospace;
	font-size: 12px;
	user-select: none;
	cursor: pointer;
	min-width: 14px;
	width: 14px;
}
#weekly .dashboard tr:hover td {
	background: hsl(0, 0%, calc(var(--hsl-l-black) + var(--hsl-diff) * 3));
}
#weekly .dashboard td.marked {
	background: hsl(0, 0%, calc(var(--hsl-l-black) + var(--hsl-diff) * 3));
}
#weekly .dashboard tr:hover td.marked {
	background: hsl(0, 0%, calc(var(--hsl-l-black) + var(--hsl-diff) * 4));
}

#weekly .dashboard td.marked.ot {
	background: hsl(var(--hsl-orange),
			var(--hsl-s-fade),
			var(--hsl-l-dark));
}
#weekly .dashboard tr:hover td.marked.ot {
	background: hsl(var(--hsl-orange),
			var(--hsl-s-fade),
			var(--hsl-l-default));
}

#weekly .dashboard td.marked.ooo {
	background: hsl(var(--hsl-purple),
			var(--hsl-s-fade),
			var(--hsl-l-light));
}
#weekly .dashboard tr:hover td.marked.ooo {
	background: hsl(var(--hsl-purple),
			100%,
			var(--hsl-l-light));
}

#weekly .dashboard td.col,
#weekly .dashboard th.col {
	border-left: solid 2px var(--color-tab);
}

#weekly .dashboard td.title {
	overflow-x: hidden;
}

#weekly .dashboard td.sum {
	font-family: monospace;
	font-size: 11px;
}

#weekly .dashboard td.cate,
#weekly .dashboard td.time,
#weekly .dashboard td.sum,
#weekly .dashboard th.sum {
	text-align: center;
}

#weekly .dashboard th.cate,
#weekly .dashboard th.link,
#weekly .dashboard th.proj,
#weekly .dashboard th.sum {
	width: 30px;
	min-width: 30px;
}

.non-select {
	user-select: none;
	cursor: default;
}

.tooltip .tip {
	visibility: hidden;
	position: absolute;
	background: #ffc;
	color: var(--color-bg);
	padding: 4px 8px;
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 12px;
	margin-left: 6px;
	margin-top: -10px;
}

.tooltip .tip::after {
	content: " ";
	position: absolute;
	top: 50%;
	/* At the bottom of the tooltip */
	left: 0;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #ffc transparent;
}

.tooltip:hover .tip {
	visibility: visible;
}

.label {
	user-select: none;
}

.tabs div.tab,
.sub-tabs div.sub-tab {
	display: none;
}

.tabs div.tab {
	background: var(--color-tab);
	border-radius: 0 9px 9px 9px;
	padding: min(40px, 5%);
	padding-top: min(30px, 5%);
}

.tabs div.dashboard {
	overflow-x: auto;
}

.tabs a.label {
	background: var(--color-tab);
	border-radius: 7px 7px 0 0;
	color: var(--color-font);
	display: inline-block;
	filter: var(--low-light);
	font-weight: bold;
	font-size: 14px;
	padding: 9px 14px;
	padding-bottom: 7px;
}

.tabs a.label.active {
	filter: none;

}

.sub-tabs div.sub-tab {
	padding: 25px 0;
}

.sub-tabs button.label {
	background: hsl(var(--hsl-orange),
			var(--hsl-s-default),
			var(--hsl-l-default));
	font-size: 13px;
	font-weight: bold;
	margin-right: 4px;
	padding: 4px 9px;
}

.tabs div.active,
.sub-tabs div.active {
	display: block;
}
