body,
html {
	padding: 15px;
	background: #222;
	color: #fff;
	font-family: sans-serif;
	font-size: 13px;
}

span {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	background: #333;
	table-layout: fixed;
}

th,
td {
	border-bottom: solid 8px #222;
	text-align: left;
	vertical-align: middle;
	white-space: nowrap;
	color: #ddd;
	padding: 6px 7px;
}

th {
	background: #111;
	color: #eee;
}

td {
	padding: 0 7px;
}

td.time {
	padding: 0;
	min-width: 11px;
	border-left: dotted 1px #222;
	text-align: center;
	font-size: 11px;
	font-family: monospace;
}

td.marked {
	background: #996;
}
td.marked.leave {
	background: #96f;
}

td.ot {
	background: #930;
}

td.cate, th.cate {
	text-align: center;
}

td.col, th.col {
	border-left: solid 2px #222;
}

td.err {
	background: red;
}

.non-select {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
.tooltip .tip {
	visibility: hidden;
	position: absolute;
	background: #ffc;
	color: #222;
	padding: 3px 8px;
	padding-bottom: 2px;
	border-radius: 5px;
	font-size: 12px;
	font-family: sans-serif;
	margin-left: 6px;
	margin-top: -10px;
}
.tooltip .tip::after {
	content: " ";
	position: absolute;
	top: 50%; /* At the bottom of the tooltip */
	left: 0;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #ffc transparent;
}
.tooltip:hover .tip{
	visibility: visible;
}

.code {
	font-family: monospace;
	background: #555;
	padding: 6px 9px;
	border-radius: 9px;
}
